{% include custom/navigation.html %}
<ul class="nav pull-right">
    <li><a href="http://stackexchange.com/users/55154/george-powell" title="Stack Exchange Profile"><i class="icon-stackexchange social-navbar"></i></a></li>
    <li><a href="http://github.com/georgepowell" title="Github Profile"><i class="icon-github-sign social-navbar"></i></a></li>
    <li><a href="http://linkedin.com/in/georgepowell" title="Linkedin Profile"><i class="icon-linkedin-sign social-navbar"></i></a></li>
    <li><a href="http://twitter.com/thegeorgepowell" title="Twitter Profile"><i class="icon-twitter-sign social-navbar"></i></a></li>
    <li><a href="http://youtube.com/georgepowell" title="Youtube Profile"><i class="icon-youtube-sign social-navbar"></i></a></li>
    <li><a href="http://plus.google.com/+GeorgePowell1" title="Google+ Profile"><i class="icon-google-plus-sign social-navbar"></i></a></li>
    <li><a href="http://facebook.com/georgepowell1" title="Facebook Profile"><i class="icon-facebook-sign social-navbar"></i></a></li>
    <li><a href="mailto:georgepowell_1@hotmail.co.uk" title="Email"><i class="icon-envelope social-navbar"></i></a></li>

    {% if site.github_user %}
    {% endif %}
    {% if site.bitbucket_user %}
    <li><a href="http://bitbucket.org/{{ site.bitbucket_user }}" title="BitBucket Profile"><i class="icon-bitbucket-sign social-navbar"></i></a></li>
    {% endif %}
    {% if site.linkedin_user %}
    {% endif %}
    {% if site.twitter_user %}
    {% endif %}
    {% if site.googleplus_user %}
    {% endif %}
    {% if site.facebook_user %}
    {% endif %}
    {% if site.flickr_user %}
    <li><a href="http://flickr.com/photos/{{ site.flickr_user }}" title="Flickr Profile"><i class="icon-flickr social-navbar"></i></a></li>
    {% endif %}

    {% if site.email %}
    {% endif %}
</ul>
